body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
    width: 1100px;
}

.button {
    background-color: #2F00FF;
    color: white;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid #FFB000;
    border-bottom: 5px solid #FFB000;
    padding: 25px 100px 25px 95px;
    justify-content: space-around;
    color: white;
    display: flex;
    width: 1100px;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: white;
    padding: 15px;
    width: 400px;
    margin: 20px;
    text-align: center;
}

.article-but {
    text-decoration: none;
    background-color: #1437AD;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: #FFB000;
    padding: 15px;
    display: flex;
    width: 1100px;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
    margin-left: 50px;
    color: #1437AD;
}

footer img {
    margin-left: 50px;
}
